@font-face {
  font-display: swap;
  font-family: 'Kabel';
  font-style: normal;
  font-weight: 400;
  src: url('Kabel-Heavy.woff2') format('woff2'),
       url('Kabel-Heavy.woff') format('woff');
}

:root {
  --colorChance: #fd9204;
  --colorCommunityChest: #03b5fc;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  display: flex;
  font-family: 'Kabel';
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: center;
}

.card {
  background-color: #fff;;
  bottom: 10dvh;
  left: 10vw;
  padding: 16px;
  position: absolute;
  top: 10dvh;
  right: 10vw;
}

.card--chance .card__border {
  border-color: var(--colorChance);
}

.card--communityChest .card__border {
  border-color: var(--colorCommunityChest);
}

.card__border {
  align-items: center;
  border-style: solid;
  border-width: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 16px;
}

.card__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}

.card__close:before,
.card__close:after {
  position: absolute;
  left: 16px;
  content: '';
  height: 32px;
  width: 2px;
  background-color: #000;
}

.card__close:before {
  transform: rotate(45deg);
}

.card__close:after {
  transform: rotate(-45deg);
}

.card__description {
  font-size: 2rem;
  margin-top: 20px;
}

.cardPile {
  align-items: center;
  display: flex;
  font-size: 2rem;
  height: 100dvh;
  justify-content: center;
  width: 50vw;
}

.cardPile--chance {
  background-color: var(--colorChance);
}

.cardPile--communityChest {
  background-color: var(--colorCommunityChest);
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }
  
  .cardPile {
    height: 50dvh;
    width: 100vw;
  }
}
